# PYTHON CACHE FILES
*.pyc
__pycache__/

# ROOT TEST FILES
/test*.py

# VENV
.venv

# VSCODE
.vscode/

# LARGE DATA FILES (temporary until persisted through metadata service)
scripts/kpiDepotScraper/output/

# ENVIRONMENT VARIABLES
.env
.env.secrets
