autoscaling:
  enabled: false
  maxReplicas: 10
  minReplicas: 1
  targetCPUUtilizationPercentage: 80
env:
  DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@timescaledb:5432/${POSTGRES_DB}
  ENABLE_DISTRIBUTED_TRACING: 'true'
  METRICS_EXPORT_TIMEOUT: '5'
  OBSERVABILITY_SERVICE_URL: http://observability_service:8000
  OTEL_EXPORTER_OTLP_CERTIFICATE: /certs/server.crt
  OTEL_EXPORTER_OTLP_ENDPOINT: https://observability_service:4317
  OTEL_EXPORTER_OTLP_INSECURE: 'false'
  PYTHONPATH: .
  REDIS_URL: redis://redis:6379
  SERVICE_NAME: messaging_service
image:
  pullPolicy: IfNotPresent
  repository: analytics-engine/messaging_service
  tag: latest
replicaCount: 1
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
service:
  port: 8001
  targetPort: 8000
  type: ClusterIP
