autoscaling:
  enabled: false
  maxReplicas: 10
  minReplicas: 1
  targetCPUUtilizationPercentage: 80
env:
  DATABASE_SERVICE_URL: http://database_service:8000
  MESSAGING_SERVICE_URL: http://messaging_service:8000
  OBSERVABILITY_SERVICE_URL: http://observability_service:8000
  OPENAI_API_KEY: ${OPENAI_API_KEY}
  OTEL_EXPORTER_OTLP_CERTIFICATE: /certs/server.crt
  OTEL_EXPORTER_OTLP_ENDPOINT: https://observability_service:4317
  OTEL_EXPORTER_OTLP_INSECURE: 'false'
  PYTHONPATH: .
  REDIS_URL: redis://redis:6379
  SERVICE_NAME: conversation_service
image:
  pullPolicy: IfNotPresent
  repository: analytics-engine/conversation_service
  tag: latest
replicaCount: 1
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
service:
  port: 8026
  targetPort: 8000
  type: ClusterIP
